body{
	padding-top: 100px;
	background-image: url("../images/background1.jpg") ;
	background-repeat: no-repeat;
	background-position: 50% 150px;
}

body.changeBG{
	background-image: url("../images/extintor.jpg") ;
	background-repeat: no-repeat;
	background-position: left 30%;
}

input, textarea{
	text-transform: uppercase;
}

.login-side{
	padding: 5px;
	top: 0;
	bottom: 0;
	position: fixed;
	display: block;
	left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
	.login-side.left{
		background-color: #080825;
		padding-top: 16%;
	}
		.login-side.left .title-01{
			color: #bdacac;
			font-size: 30px;
			font-weight: bold;
		}
		.login-side.left img{
			width:400px;
			height: auto;
		}

	.login-side.right{
		padding: 14% 12%;
	}
		.login-side.right input{
			background-color: #ffdede;
			color: #000;
			font-weight: bold;
		}
			.login-side.right input:placeholder{
				/*color: #fff;*/
			}

.ubi_01{
	padding: 2px 5px;
    height: 22px;
    font-size: 12px;
}

.est_01{
	padding: 2px 5px;
    height: 22px;
    font-size: 12px;
}

.table.escoger_categoria{

}
	.escoger_categoria:hover{
		background-color: #231e1e;
		color: #fff;
		cursor: pointer;
	}

	.recargar_serv_defecto:hover{
		background-color: #231e1e;
		color: #fff;
		cursor: pointer;
	}


.space{
	margin-right: 10px;
}
.ext_categoria{
	padding-top: 80px;
	width: 200px;
	background-color: yellow;
	margin-top: 15px;
	text-align: center;
	padding: 20px 35px;
}

.tipo0{ background-color: #88b0d2; }
.tipo1{ background-color: #dca45f; }
.tipo2{ background-color: #419BC4; }
.tipo3{ background-color: #73c441; }

.imgReporte{
	width: 100px;
	height: auto;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.divBotton{
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.navbar-nav>li>a:hover{
	background-color: #fff;
}

.dropdown-menu{
	background-color: #fff;
}
.dropdown-menu>li>a{
	font-size: 17px;
	color:#000;
}

.dropdown-menu>li>a:hover{
	background:none;
	background-color: #ccc;
}

.navbar-inverse .navbar-nav>li>a{
	color:  #fefefe;
}

ul.navbar-nav li a:hover{
	background-color: #635f5f !important;
	color: white !important;
}

.navbar-inverse .navbar-brand{
	color: #000;
}

.ajs-content{
	text-align: center !important;
}

.newDesign{
	border-radius: 50%;
    height: 450px;
    background: beige;
    padding-top: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
}
	.newDesign h2{
		color: #000;
	}
	.newDesign input{
		color: #fff;
		
		background-color: #080825;
	}

.table, .panel{
	background-color: rgba(255,255,255,0.3) !important;
}

.panel-heading{
	background: none !important;
	background-color: rgba(202, 14, 14, 0.4) !important;
	color: #4c4646 !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}